[Unit]
Description=Matter Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/matter-js/python-matter-server:8.1.2@sha256:6827e352011e2d8c2bde771e446fcf72acc49150ef66bad978816bac1762aad3
Pod=home-assistant.pod
Volume=/var/local/lib/home-assistant/matter-server:/data:Z
NoNewPrivileges=true
DropCapability=all
HealthCmd=curl -f http://localhost:5580/info
HealthStartPeriod=120s
HealthInterval=30s
HealthRetries=5
HealthOnFailure=kill
Notify=healthy

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
