[Unit]
Description=Matter Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/matter-js/python-matter-server:8.1
Pod=home-assistant.pod
Volume=/var/local/lib/home-assistant/matter-server:/data:Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
HealthCmd=curl -f http://localhost:5580/info
HealthStartPeriod=60s
HealthInterval=30s
Notify=healthy

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=infinity
ProtectHostname=yes

[Install]
WantedBy=default.target
