# Python bytecode (for any scripts in the repo)
__pycache__/
*.py[codz]
*$py.class
*.so

# Build artifacts
build/
dist/

# Virtual environments
.venv
env/
venv/
ENV/

# Environments / secrets
.env
.envrc
secrets/

# Logs
*.log

# OS
.DS_Store

# Editor
.cache

# Binaries/Disk Images
*.xz
*.ign
*.qcow2
*.raw
*.tar
