[Unit]
Description=Jellyfin Media Server
After=tinyproxy.service

[Container]
Image=docker.io/jellyfin/jellyfin:10.11.8
PublishPort=20520:8096
Network=jellynet.network
Volume=/var/mnt/data/content/media:/media:ro,z
Volume=/var/local/lib/jellyfin/config:/config:Z
Volume=/var/local/lib/jellyfin/cache:/cache:Z
NoNewPrivileges=true
DropCapability=all
HealthCmd=curl -sf http://127.0.0.1:8096/health
HealthStartPeriod=120s
HealthInterval=30s
HealthRetries=5
HealthOnFailure=kill
Notify=healthy
Environment=HTTP_PROXY=http://systemd-tinyproxy:8888
Environment=HTTPS_PROXY=http://systemd-tinyproxy:8888

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=20min

[Install]
WantedBy=default.target
