[Unit]
Description=Tinyproxy forward proxy (internet bridge for jellynet)

[Container]
Image=ghcr.io/abyrne55/tinyproxy-homelab:main
AutoUpdate=registry
Network=jellynet.network
Network=proxynet.network
Volume=/etc/tinyproxy/tinyproxy.conf:/etc/tinyproxy/tinyproxy.conf:ro
Volume=/etc/tinyproxy/filter:/etc/tinyproxy/filter:ro
HealthCmd=curl -sf -x http://127.0.0.1:8888 http://tinyproxy.stats/
HealthStartPeriod=5s
HealthInterval=30s
HealthRetries=3

[Service]
ExecStartPre=/usr/bin/cosign verify --certificate-identity-regexp='https://github.com/abyrne55/tinyproxy-homelab/.*' --certificate-oidc-issuer='https://token.actions.githubusercontent.com' ghcr.io/abyrne55/tinyproxy-homelab:main
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
