[Unit]
Description=Mealie recipe manager
After=network-online.target
Wants=network-online.target mealie-configure.service

[Container]
Image=ghcr.io/abyrne55/mealie-hummingbird:v3.16.0
AutoUpdate=registry
PublishPort=20590:9000
Volume=/var/local/lib/mealie/data:/app/data:Z,U
NoNewPrivileges=true
DropCapability=all
HealthCmd=python3 /app/healthcheck.py
HealthStartPeriod=120s
HealthInterval=30s
HealthRetries=5
HealthOnFailure=kill
Notify=healthy
Environment=TZ=America/New_York
Environment=ALLOW_SIGNUP=false
Environment=MAX_WORKERS=1
Environment=WEB_CONCURRENCY=1
Environment=THEME_LIGHT_PRIMARY=#75A86C
Environment=THEME_LIGHT_ACCENT=#A8D0A6
Environment=THEME_LIGHT_SECONDARY=#638E5E
Environment=THEME_LIGHT_SUCCESS=#4CAF50
Environment=THEME_LIGHT_INFO=#4A9ED8
Environment=THEME_LIGHT_WARNING=#EAC46B
Environment=THEME_LIGHT_ERROR=#E57373
Environment=THEME_DARK_PRIMARY=#739B7A
Environment=THEME_DARK_ACCENT=#9FBE9D
Environment=THEME_DARK_SECONDARY=#56775E
Environment=THEME_DARK_SUCCESS=#81C784
Environment=THEME_DARK_INFO=#78B2C0
Environment=THEME_DARK_WARNING=#EBC86E
Environment=THEME_DARK_ERROR=#E57373

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=10min

[Install]
WantedBy=default.target
