[Unit]
Description=Caddy reverse proxy
ConditionPathIsDirectory=/var/lib/homelab-config/caddy
ConditionPathExists=/var/lib/homelab-config/caddy/Caddyfile

[Service]
ExecStartPre=/usr/bin/cosign verify --certificate-identity-regexp='https://github.com/abyrne55/caddy-homelab/.*' --certificate-oidc-issuer='https://token.actions.githubusercontent.com' ghcr.io/abyrne55/caddy-homelab:main
Restart=on-failure
RestartSec=30

[Container]
ContainerName=caddy
ReloadCmd=/usr/bin/caddy reload --config /etc/caddy/Caddyfile
Image=ghcr.io/abyrne55/caddy-homelab:main
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
HealthCmd=CMD /usr/bin/curl -sf --unix-socket /tmp/admin.sock http://localhost/config/
HealthStartPeriod=10s
HealthInterval=30s
ReadOnly=true
ReadOnlyTmpfs=true
Volume=/var/lib/homelab-config/caddy:/etc/caddy:ro,z
PublishPort=20510:8080
PublishPort=20511:8443

[Install]
WantedBy=default.target
