[Unit]
Description=Caddy Reverse Proxy
After=network-online.target

[Container]
Image=ghcr.io/abyrne55/caddy-homelab:main
Network=host
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,z
AutoUpdate=registry

[Service]
ExecStartPre=/usr/bin/cosign verify --certificate-identity-regexp='https://github.com/abyrne55/caddy-homelab/.*' --certificate-oidc-issuer='https://token.actions.githubusercontent.com' ghcr.io/abyrne55/caddy-homelab:main

[Install]
WantedBy=default.target
