[Unit]
Description=Caddy Reverse Proxy
After=network-online.target

[Container]
Image=ghcr.io/abyrne55/caddy-homelab:main
Network=host
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,z
AutoUpdate=registry

[Install]
WantedBy=default.target
