[Unit]
Description=Sync homelab-secrets repository every 15 minutes
Requires=homelab-secrets-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
