[Unit]
Description=Mount external media data volume
After=init-data-disk.service
Requires=init-data-disk.service

[Mount]
What=/dev/disk/by-label/media-data
Where=/mnt/media
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
