[Unit]
Description=qBittorrent torrent client
After=gluetun.service
Requires=gluetun.service

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
Pod=torrent.pod
Environment=PUID=1053
Environment=PGID=1053
Environment=TZ=UTC
Environment=WEBUI_PORT=20530
Volume=/var/mnt/data/.qbittorrent/config:/config:Z
Volume=/var/mnt/data/torrents:/downloads:Z
HealthCmd=curl -f http://localhost:20530/
HealthStartPeriod=30s
HealthInterval=30s
Notify=healthy

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
