[Unit]
Description=Add demo media torrent to qBittorrent
PartOf=qbittorrent.service
After=qbittorrent-configure.service

[Service]
Type=oneshot

ExecStart=/usr/local/bin/demo-media

Restart=on-failure
RestartSec=10

LoadCredential=qbittorrent-webui-password:/run/systemd-age-creds.sock

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes

ProtectSystem=strict
ProtectHome=tmpfs
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectClock=yes
ProtectProc=invisible

LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET
SystemCallArchitectures=native
