[Unit]
Description=Add demo media torrent to qBittorrent
PartOf=qbittorrent.service
After=qbittorrent-configure.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/demo-media
LoadCredential=qbittorrent-webui-password:/run/systemd-age-creds.sock
Restart=on-failure
RestartSec=10
