[Unit]
Description=Add demo media torrent to qBittorrent
PartOf=qbittorrent.service
After=qbittorrent-configure.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/demo-media
LoadCredential=qbittorrent-webui-password:/run/systemd-age-creds.sock
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
LockPersonality=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
