[Unit]
Description=Schedule jellarr configuration run
ConditionUser=jellyfin

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=5m
Unit=jellarr.service

[Install]
WantedBy=timers.target
