[Unit]
Description=Prometheus exporter for rootless Podman containers
# Only start when per-user config file exists (created by tmpfiles for service users only)
ConditionPathExists=%h/.config/prometheus-podman-exporter

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
EnvironmentFile=-%h/.config/prometheus-podman-exporter
ExecStart=/usr/bin/prometheus-podman-exporter $PODMAN_EXPORTER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes

ProtectHome=readonly
ProtectSystem=strict
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectClock=yes
ProtectProc=invisible

LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_INET AF_UNIX
UMask=0077

[Install]
WantedBy=default.target
