[Unit]
Description=Configure Prowlarr Forms authentication and app connections
PartOf=prowlarr.service
After=prowlarr.service

[Service]
Type=oneshot
LoadCredential=prowlarr-api-key:/run/systemd-age-creds.sock
LoadCredential=prowlarr-webui-password:/run/systemd-age-creds.sock
LoadCredential=sonarr-api-key:/run/systemd-age-creds.sock
LoadCredential=radarr-api-key:/run/systemd-age-creds.sock
ExecStart=/usr/local/bin/prowlarr-configure
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
LockPersonality=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ProtectKernelModules=yes
RestrictNamespaces=yes
ProtectKernelLogs=yes
RestrictRealtime=yes
ProtectClock=yes
ProtectProc=inivisble
PrivateUsers=yes
