[Unit]
Description=Set qBittorrent permanent WebUI password on first start
PartOf=qbittorrent.service
After=qbittorrent.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/qbittorrent-configure
LoadCredential=qbittorrent-webui-password:/run/systemd-age-creds.sock
Restart=on-failure
RestartSec=10
