[Unit]
Description=Add demo media movie to Radarr collection
PartOf=radarr.service
After=radarr-configure.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/radarr-demo-media
LoadCredential=radarr-api-key:/run/systemd-age-creds.sock
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
LockPersonality=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ProtectKernelModules=yes
RestrictNamespaces=yes
ProtectKernelLogs=yes
RestrictRealtime=yes
ProtectClock=yes
ProtectProc=inivisble
PrivateUsers=yes
