[Unit]
Description=Add demo media movie to Radarr collection
ConditionUser=radarr
PartOf=radarr.service
After=radarr-configure.service

[Service]
Type=oneshot

ExecStart=/usr/local/bin/radarr-demo-media

Restart=on-failure
RestartSec=10

LoadCredential=radarr-api-key:/run/systemd-age-creds.sock

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes

ProtectSystem=strict
ProtectHome=tmpfs
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectClock=yes
ProtectProc=invisible

LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET
SystemCallArchitectures=native
