[Unit]
Description=Initialize Sonarr config.xml with API key
ConditionUser=sonarr
ConditionPathExists=!/var/local/lib/sonarr/config/config.xml
Before=sonarr.service
PartOf=sonarr.service

[Service]
Type=oneshot
RemainAfterExit=yes
LoadCredential=sonarr-api-key:/run/systemd-age-creds.sock
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/var/local/lib/sonarr/config
LockPersonality=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX
ExecStart=/usr/local/bin/sonarr-init-config
ProtectKernelModules=yes
RestrictNamespaces=yes
ProtectKernelLogs=yes
RestrictRealtime=yes
ProtectClock=yes
ProtectProc=inivisble
PrivateUsers=yes
