[Unit]
Description=Configure Sonarr Forms authentication
ConditionUser=sonarr
PartOf=sonarr.service
After=sonarr.service

[Service]
Type=oneshot

ExecStart=/usr/local/bin/sonarr-configure

Restart=on-failure
RestartSec=10

LoadCredential=sonarr-api-key:/run/systemd-age-creds.sock
LoadCredential=sonarr-webui-password:/run/systemd-age-creds.sock

NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes

ProtectSystem=strict
ProtectHome=tmpfs
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectClock=yes
ProtectProc=invisible

LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_INET
SystemCallArchitectures=native
