[Unit]
Description=Regenerate static recipe site every 5 minutes
ConditionUser=mealie

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=30s
Unit=static-mealie.service

[Install]
WantedBy=timers.target
