[Unit]
Description=Generate SSH keypair for Git pulls
ConditionPathExists=!/var/lib/git-ssh/id_ed25519
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
NoNewPrivileges=yes
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictRealtime=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX
ReadWritePaths=/var/lib/git-ssh

ExecStartPre=/usr/bin/install -d -m 0700 /var/lib/git-ssh
ExecStart=/usr/bin/ssh-keygen -t ed25519 -N "" -C "homelab-git-pull" -f /var/lib/git-ssh/id_ed25519
ExecStartPost=/usr/bin/chmod 400 /var/lib/git-ssh/id_ed25519
ExecStartPost=/usr/bin/chmod 444 /var/lib/git-ssh/id_ed25519.pub

[Install]
WantedBy=multi-user.target
