[Unit]
Description=NFS mount for NAS media share
After=network-online.target wg-nas.service
Wants=network-online.target
BindsTo=wg-nas.service

[Mount]
What=100.100.100.1:/volume1/media-stg
Where=/var/mnt/data
Type=nfs
Options=defaults,_netdev,nfsvers=4.1,nconnect=4,noatime,rsize=131072,wsize=131072,context=system_u:object_r:container_file_t:s0
TimeoutSec=600

[Install]
WantedBy=multi-user.target
