[Unit]
Description=Sync homelab-secrets repository
Wants=network-online.target
After=network-online.target ssh-generate-identity.service age-generate-identity.service github-known-hosts.service

[Service]
Type=oneshot
User=root

# Set Git SSH command to use the generated key and known_hosts
Environment="GIT_SSH_COMMAND=ssh -i /etc/git-ssh/id_ed25519 -o IdentitiesOnly=yes -o UserKnownHostsFile=/etc/git-ssh/known_hosts -o StrictHostKeyChecking=yes"

# This clone is expected to fail after the first run
ExecStartPre=-/usr/bin/git clone git@github.com:abyrne55/homelab-secrets.git /etc/age/credentials

# The pull will always happen regardless
ExecStart=/usr/bin/git -C /etc/age/credentials/ pull --ff-only

[Install]
WantedBy=multi-user.target
